#/bin/bash

JMETER_PROPS= \ {{ range ls (printf "/jmeter/%s/user.properties" (key "/jmeter/current-test" ) ) }}
-J{{.Key}}={{.Value}}\
{{end}}

JMETER_USER_PROPS= \ {{ range ls (printf "/jmeter/%s/test.properties" (key "/jmeter/current-test" ) ) }}
-G{{.Key}}={{.Value}}\
{{end}}

(printf "/jmeter/%s/properties" (key "/jmeter/current-test" ) )


JMETER_VARs=

/opt/apache-jmeter-${JMETER_VERSION}/bin/jmeter -n   -t /tests/jmeter-test.jmx


-D[prop_name]=[value] - defines a java system property value.
-J[prop name]=[value] - defines a local JMeter property.
-G[prop name]=[value] - defines a JMeter property to be sent to all remote servers.
-G[propertyfile] - defines a file containing JMeter properties to be sent to all remote servers.
-L[category]=[priority] - overrides a logging setting, setting a particular category to the given priority level.