#/bin/bash

JMETER_USER_PROPS={{ range ls (printf "jmeter/%s/user.properties" (key_or_default "jmeter/current-test" "default") ) }}-J{{.Key}}={{.Value}}\
{{end}}

JMETER_SYS_PROPS=-Djava.rmi.server.hostname=$RMI_HOST{{ range ls (printf "jmeter/%s/system.properties" (key_or_default "jmeter/current-test" "default") ) }}-D{{.Key}}={{.Value}}\
{{end}}

JMETER_LOGGING={{ range ls (printf "jmeter/%s/logging.properties" (key_or_default "jmeter/current-test" "default") ) }}-L{{.Key}}={{.Value}}\
{{end}}

JMETER_PROPS={{ key_or_default (printf "/jmeter/%s/cli" (key_or_default "jmeter/current-test" "default") ) " " }}

$INSTALL_LOCATION/apache-jmeter-${JMETER_VERSION}/bin/jmeter-server $JMETER_PROPS $JMETER_SYS_PROPS $JMETER_LOGGING -n &


