#/bin/bash

JMETER_USER_PROPS={{ range ls (printf "jmeter/%s/user.properties" (key_or_default "jmeter/current-test" "default") ) }}\
  -J{{.Key}}={{.Value}}
{{end}}

JMETER_SYS_PROPS=-Djava.rmi.server.hostname=$RMI_HOST{{ range ls (printf "jmeter/%s/system.properties" (key_or_default "jmeter/current-test" "default") ) }}\
  -D{{.Key}}={{.Value}}\
{{end}}

JMETER_LOGGING={{ range ls (printf "jmeter/%s/logging.properties" (key_or_default "jmeter/current-test" "default") ) }}\
  -L{{.Key}}={{.Value}}\
{{end}}

JMETER_PROPS={{ key_or_default (printf "/jmeter/%s/cli" (key_or_default "jmeter/current-test" "default") ) " " }}

$INSTALL_LOCATION/jmeter/bin/jmeter-server $JMETER_PROPS $JMETER_SYS_PROPS $JMETER_LOGGING -n

# Delete running script after java process dies. Makes consul rewrite and thus restart on startup
rm -- "$0"

# -D[prop_name]=[value] - defines a java system property value.
# -J[prop name]=[value] - defines a local JMeter property.
# -G[prop name]=[value] - defines a JMeter property to be sent to all remote servers.
# -G[propertyfile] - defines a file containing JMeter properties to be sent to all remote servers.
# -L[category]=[priority] - overrides a logging setting, setting a particular category to the given priority level.